$accent-color: #6cb644;
$accent-dark-color: #4f810c;

$text-color: #cccccc;
$text-color-light: white;

$info-color: rgba(227, 223, 181, 0.9);
$warning-color: #e65c00;
$success-color: #00b33c;
$error-color: rgba(242, 191, 192, 0.9);

$icon-color: $text-color;
$background-dark: #121115;

$main-background-color: #000000;
$header-background-color: #28272b;
$sidebar-background-color: #28272b;
$footer-background-color: #28272b;

$scrollbar-thumb-color: #7d7d7d;
$scrollbar-thumb-hover-color: #c2c2c2;
$scrollbar-track-color: transparent;

$notification-text-color: #000000;
$info-notification-background: rgba(227, 223, 181, 0.9);
$error-notification-background: rgba(242, 191, 192, 0.9);
$success-notification-icon-color: rgba(121, 197, 121, 0.9);
$info-notification-icon-color: rgba(137, 184, 241, 0.9);
$error-notification-icon-color: $error-color;
$warning-notification-icon-color: rgba(228, 149, 96, 0.9);

$validation-error-color: #f5493d;

$icon-button-color: #79c133;

$overlay-background-color: rgba(0, 0, 0, 0.54);


$merian-black: #000000;
$merian-white: #ffffff;

$merian-dark-green: rgb(22, 90, 74);
$merian-dark-green-25: rgba(22, 90, 74, 0.3);
$merian-dark-green-50: rgba(22, 90, 74, 0.5);
$merian-dark-green-75: rgba(22, 90, 74, 0.7);

$merian-light-green: rgb(108, 182, 68);
$merian-light-green-25: rgba(108, 182, 68, 0.3);
$merian-light-green-50: rgba(108, 182, 68, 0.5);
$merian-light-green-75: rgba(108, 182, 68, 0.7);

$merian-primary-mulberry: rgb(96, 47, 82);
$merian-primary-mulberry-25: rgba(96, 47, 82, 0.3);
$merian-primary-mulberry-50: rgba(96, 47, 82, 0.5);
$merian-primary-mulberry-75: rgba(96, 47, 82, 0.7);

$merian-primary-appricot: rgb(224, 137, 47);
$merian-primary-appricot-25: rgba(224, 137, 47, 0.3);
$merian-primary-appricot-50: rgba(224, 137, 47, 0.5);
$merian-primary-appricot-75: rgba(224, 137, 47, 0.7);

$merian-primary-sunflower: rgb(239, 203, 37);
$merian-primary-sunflower-25: rgba(239, 203, 37, 0.3);
$merian-primary-sunflower-50: rgba(239, 203, 37, 0.5);
$merian-primary-sunflower-75: rgba(239, 203, 37, 0.7);

$merian-primary-peacock: rgb(19, 87, 152);
$merian-primary-peacock-25: rgba(19, 87, 152, 0.3);
$merian-primary-peacock-50: rgba(19, 87, 152, 0.5);
$merian-primary-peacock-75: rgba(19, 87, 152, 0.7);

$merian-primary-aqua: rgb(0, 151, 131);
$merian-primary-aqua-25: rgba(0, 151, 131, 0.3);
$merian-primary-aqua-50: rgba(0, 151, 131, 0.5);
$merian-primary-aqua-75: rgba(0, 151, 131, 0.7);

$merian-secondary-dark-sage: rgb(69, 108, 107);
$merian-secondary-dark-sage-25: rgba(69, 108, 107, 0.3);
$merian-secondary-dark-sage-50: rgba(69, 108, 107, 0.5);
$merian-secondary-dark-sage-75: rgba(69, 108, 107, 0.7);

$merian-secondary-medium-sage: rgb(92,155, 152);
$merian-secondary-medium-sage-25: rgba(92,155, 152, 0.3);
$merian-secondary-medium-sage-50: rgba(92,155, 152, 0.5);
$merian-secondary-medium-sage-75: rgba(92,155, 152, 0.7);

$merian-secondary-light-sage: rgb(137, 187, 186);
$merian-secondary-light-sage-25: rgba(137, 187, 186, 0.3);
$merian-secondary-light-sage-50: rgba(137, 187, 186, 0.5);
$merian-secondary-light-sage-75: rgba(137, 187, 186, 0.7);

$merian-section-border-color: #4a494e;
$merian-section-bg-color: #29282f;

