$font-size-small: 0.625rem;
$font-size-normal: 0.75rem;
$font-size-big: 0.875rem;

$icon-size-normal: 19px;
$icon-size-big: 30px;
$icon-size-navigation-height: 30px;
$icon-size-navigation-width: 30px;



