$preferred-font: "Roboto", "Helvetica", "Arial", sans-serif !default;
$unit: 0.625rem !default;

$space-v-xs: 5px;
$space-v-s: 10px;
$space-v-m: 15px;
$space-v-l: 20px;
$space-v-xl: 30px;
$space-v-xxl: 40px;

$space-h-xs: 5px;
$space-h-s: 10px;
$space-h-m: 15px;
$space-h-l: 20px;
$space-h-xl: 30px;
$space-h-xxl: 40px;

$z-index-overlay: 700;